.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;
}
header {
    width: 100%;
    background: $primary;
    div {
        display: flex;
        justify-content: space-between;
    }
    
}

// index page
.banner {
    max-width: 100%;
    height: 787px;
    background-image: url(../images/home-header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .banner-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 16%;
        h2 {
            font-size: $fs-36;
            line-height: 54px;
            color: $secondary;
        }
        h3 {
            font-size: 64px;
            line-height: 96px;
            color: $secondary;
            font-weight: bold;
        }
        
    }
}

.banner-btn {
    a {
        color: white;
        font-style: $fs-20;
        line-height: 30px;
        padding: 6px 12px;
        background-color: $primary;
        &:hover {
            background-color: black;
        }
    }
}

.home-title {
    padding-top: 80px;
    h4 {
        font-size: $fs-48;
        line-height: 72px;
        color: $secondary;
        font-weight: bold;
    }
}

.feature {
    background: #FBF2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        padding-top: 36.5px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        li {
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                font-size: $fs-24;
                line-height: 36px;
                color: $secondary;
                font-weight: bold;
                padding-top: 24px;
            }
            p {
                font-size: $fs-16;
                line-height: 24px;
                padding-top: 8px;
            }
        }
    }
}

.classicGl {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 48px;
        padding-bottom: 80px;
        gap: 24px;
        li {
            width: 30%;
            h5 {
                font-size: $fs-48;
                line-height: 72px;
                color: $primary;
                text-align: center;
                font-weight: bold;
                font-style: italic;
                padding-top: 8px;
            }
        }
    }
}
.design-mobile {
    display: none;
}
.designGl {
    background: url(../images/index-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        width: 100%;
        display: flex;
        padding-top: 48px;
        padding-bottom: 80px;
        flex-wrap: wrap;
        justify-content: center;
        li {
            width: 46%;
            h5 {
                font-size: $fs-48;
                line-height: 72px;
                font-style: italic;
                font-weight: bold;
                background: white;
                padding: 8px;
                text-align: center;
                color: $primary;
            }
        }
        
    }
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        padding-top: 48px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        li {
            width: 23%;
            border: 1px solid #DEE2E6;
            box-shadow: 0px 2px 6px #00000029;
            border-radius: 4px;
            img {
                border-radius: 4px 4px 0 0;
            }
            h6 {
                padding-top: 16px;
                padding-bottom: 8px;
                padding-left: 16px;
                font-size: $fs-16;
                line-height: 24px;
                font-weight: 600;
            }
            p {
                padding: 0 16px;
                padding-bottom: 96px;
            }
            span {
                display: block;
                padding-bottom: 16px;
                padding-left: 16px;
            }
        }
    }
}
.contain-636 {
    max-width: 636px;
    margin: 0 auto;
}
.contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF2F2;
}
.contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    margin-right: 96px;
    p {
        font-size: $fs-20;
        line-height: 30px;
        padding-top: 24px;
        padding-bottom: 8px;
    }
    h6 {
        font-size: $fs-16;
        line-height: 24px;
        padding-top: 16px;
        padding-bottom: 8px;
    }
    div {
        display: flex;
        padding-top: 16px;
        padding-bottom: 48px;
        p {
            padding-left: 8px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
}

.submit-form {
    padding-bottom: 80px;
    a {
        font-size: $fs-16;
        font-weight: bold;
        line-height: 24px;
        padding: 16px 176px;
        background-color: $primary;
        color: white;
        &:hover {
            background-color: black;
        }
    }
}

// footer
footer {
   background-color: $primary;
   .footerCombo {
        width: 100%;
        display: flex;
        .footerContent {
            width: 70%;
            display: flex;
            flex-direction: column;
        }
        .footerIcon {
            width: 30%;
            justify-content: flex-end;
        }
   }
   
}
.footerNav {
    display: flex;
    padding-top: 60px;
    gap: 48px;
    li a {
        font-size: $fs-16;
        line-height: 24px;
        color: white;
        &:hover {
            color: darken($primary, 40%);
        }
    }
}
.footerContact {
    margin-top: 36px;
    li a {
        color: white;
        font-size: $fs-36;
        line-height: 54px;
        &:hover {
            color: darken($primary, 40%);
        }
        span {
            font-size: $fs-36;
            padding-right: 20px;
        }
    }
    

}
.footerIcon {
    display: flex;
    padding-top: 48px;
    gap: 32px;
    li a img {
        max-width: 48px;
        &:hover {
            opacity: 40%;
        }
    }
}
.line {
    margin-top: 32px;
    width: 90%;
    height: 1px;
    background-color: white;

}
.copyRight {
    align-self: center;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    p {
        font-size: 16px;
        line-height: 24px;
        color: white;
    }
    ul {
        display: flex;
        justify-content: space-between;
        li a {
            color: white;
            font-size: 14px;
            line-height: 21px;
            padding: 24px;
            &:hover {
                color: darken($primary, 40%);
            }
        }
    }
}

@media (max-width: 1350px) {
    .container {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media (max-width: 992px) {
    //index
    .classicGl {
        ul {
            li {
                width: 90%;
            }
        }
    }
    //branch
    .storeList > li {
        width: calc((100% - 24px) / 2);  
    }
    
}

@media (max-width: 767px) {
    //index
    .banner {
        background-image: url(../images/home-header-sm.png);
        background-position: center;
        .banner-content {
            padding-right: 4%;
        }
    }
    
    .feature {
        ul {
            li {
                width: 45%;
            }
        }
    }
    .designGl {
        background: url(../images/index-bg-md.png);
        background-position: center;
        ul {
            gap: 24px;
            li {
                width: 90%;
            }
        }
    }
    .review {
        ul {
            li {
                width: 45%;
            }
        }
    }
    
    //header
    .pa-0 {
        padding-left: 0;
        padding-right: 0;
    } 
    header {
        div {
            flex-direction: column;
            align-items: center;
        }
    }
    .navBar {
        width: 100%;
        flex-wrap: wrap;
        li {
            width: 50%;
        }
        li a {
            display: block;
            font-size: 16px;
            line-height: 24px;
            border: 1px solid white;
            text-align: center;

        }
    }

    //branch
    .branch {
        h2 {
            margin-top: 40px;
            font-size: $fs-24;
            line-height: 36px;
        }
        .selectArea {
            p {
                font-size: 16px;
                line-height: 24px;
                margin-top: 30px;
                margin-right: 8px;
                margin-bottom: 30px;
            }
            select {
                width: 276px;
            }
        }
    }
    .storeList > li {
        width: 96%;
    }
    //footer
    footer {
        .footerNav {
            display: none;
        }
        .footerContact {
            margin-top: 0;
            padding-top: 24px;
            li a {
                font-size: 16px;
                line-height: 24px;
                span {
                    font-size: 16px;
                }
            }
        }
        .footerIcon {
            gap: 8px;
            margin-top: 0px;
            padding-top: 24px;
            li a img {
                max-width: 24px;
            }
        }
        .copyRight {
            flex-direction: column;
            padding-top: 20px;
            width: 100%;
            ul {
                flex-direction: column;
                li 
                {
                    margin-top: 8px;
                    a {
                    font-size: 16px;
                    line-height: 24px;
                    padding: 8px 0;
                    }
                }
            }
        }
    }
    
}

@media (max-width: 580px) {
    .container {
        padding-left: 14px;
        padding-right: 14px;
    }
    header {
        .pa-0 {
            padding-left: 0;
            padding-right: 0;
        }
        
    }
    .banner {
        height: 396px;
        .banner-content {
            h2 {
                font-size: $fs-16;
                line-height: 24px;
            }
            h3 {
                font-size: $fs-24;
                line-height: 36px;
            }
        }
    }
    .home-title {
        padding-top: 40px;
        h4 {
            font-size: $fs-24;
            line-height: 36px;
        }
    }
    .feature {
        ul {
            padding-bottom: 40px;
            li {
                width: 90%;
                img {
                    width: 83px;
                }
            }
        }
    }
    
    .designGl {
        background: url(../images/index-bg-sm.png) ;
        ul {
            padding-top: 24px;
            padding-bottom: 40px;
            .design-desktop {
                display: none;
            }
            .design-mobile {
                display: block;
            }
        }
    }
    .review {
        ul {
            padding-top: 24px;
            padding-bottom: 40px;
            gap: 16px;
            li {
                width: 90%;
            }
        }
    }
    .contact-form {
        margin-left: 0;
        margin-right: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    .contact-form div {
        padding-bottom: 24px;
    }
    .submit-form {
        padding-bottom: 40px;
    }
    
}