/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #AA0601;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1 a {
  background-image: url(./images/logo-white.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 48px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 12px;
  margin-bottom: 12px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar li a {
  font-size: 20px;
  line-height: 30px;
  color: white;
  padding: 25px 32px;
}

.branch h2 {
  margin-top: 96px;
  font-size: 48px;
  line-height: 72px;
  padding-left: 16px;
  border-left: 3px solid #9F1213;
  font-weight: bold;
}

.branch .selectArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.branch .selectArea p {
  font-size: 24px;
  line-height: 36px;
  margin-top: 33px;
  margin-right: 16px;
  margin-bottom: 41px;
}

.branch .selectArea select {
  display: inline-block;
  width: 304px;
  height: 38px;
  margin-top: 33px;
}

.branch .selectArea select option {
  font-size: 18px;
  line-height: 26px;
}

.storeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.storeList > li {
  width: 30%;
}

.storeList li h3 {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #00000020;
}

.areaInfo {
  gap: 8px;
  border: 1px solid #00000020;
  padding: 16px 24px;
}

.areaInfo li {
  color: #212529;
  font-size: 20px;
  line-height: 30px;
}

.areaInfo li span {
  padding-right: 10px;
}

.moreInfo a p {
  display: block;
  padding: 16px;
  background: black;
  color: white;
  margin-bottom: 48px;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
}

footer {
  margin-top: 32px;
  width: 100%;
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .topLineFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .line {
  height: 1px;
  width: 90%;
  background: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  gap: 48px;
}

.footerNav li a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.footerIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
  gap: 32px;
}

.footerIcon li a img {
  width: 48px;
}

.contactFooter {
  padding-top: 36px;
  gap: 16px;
  padding-bottom: 32px;
}

.contactFooter li a {
  color: white;
  font-size: 36px;
  line-height: 54px;
}

.contactFooter li a span {
  font-size: 36px;
  padding-right: 20px;
}

.copyRight {
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.copyRight p {
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.copyRight ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyRight ul li a {
  color: white;
  font-size: 14px;
  line-height: 21px;
  padding: 24px;
}

@media (max-width: 1350px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (max-width: 992px) {
  .storeList > li {
    width: 43%;
  }
}

@media (max-width: 767px) {
  .pa-0 {
    padding-left: 0;
    padding-right: 0;
  }
  header div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navBar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navBar li {
    width: 50%;
  }
  .navBar li a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid white;
    text-align: center;
  }
  .branch h2 {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
  }
  .branch .selectArea p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-right: 8px;
    margin-bottom: 30px;
  }
  .branch .selectArea select {
    width: 276px;
  }
  .storeList > li {
    width: 96%;
  }
  footer .moveT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerNav {
    display: none;
  }
  footer .footerIcon {
    gap: 8px;
    margin-top: 24px;
  }
  footer .footerIcon li a img {
    width: 24px;
  }
  footer .contactFooter {
    padding-top: 24px;
  }
  footer .contactFooter li a {
    font-size: 16px;
    line-height: 24px;
  }
  footer .contactFooter li a span {
    font-size: 16px;
  }
  footer .copyRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  footer .copyRight ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyRight ul li a {
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0;
  }
}
/*# sourceMappingURL=all.css.map */